$gray900: #111111;
$gray800: #232323;
$gray700: #343434;
$gray600: #4b5563;
$gray500: #6b7280;
$gray400: #9ca3af;
$gray300: #d1d5db;
$gray200: #e5e7eb;
$gray100: #f3f4f6;

$shadowPrimary: 0 2px 8px 0 rgb(0 0 0 / 10%);
$shadowHover: 0 2px 8px 0 rgb(0 0 0 / 20%);

$transitionDefault: 0.3s all ease-in-out;
$fontTheme: 'Roboto', Arial, Helvetica, sans-serif;
$fontSize: 14px;

$primaryColor: #637bfb;
$primaryHoverColor: #90a0f8;
$secondaryColor: #3eb0eb;
$errorColor: #ff4d4f;
$navLinkPadding: 10px;
$buttonRadius: 5px;
$successColor: #28a745;
$borderColor: #ddd;
$inputRadius: 8px;

html {
    font-size: $fontSize;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

body {
    position: relative;
    width: 100%;
    color: $gray800;
    font-family: $fontTheme;
    font-size: $fontSize;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    margin-top: 60px;

    .description .title {
        text-transform: uppercase;
        font-size: 20px;
        margin: 15px 0;
    }

    .btn {
        font-weight: bold;
        border-radius: $buttonRadius;
        padding: 5px 10px;
        transition: opacity 0.3s ease-in-out;
        text-align: center;
        font-size: 13px;

        &:hover {
            opacity: 0.8;
        }
    }
    .btn-outline-primary {
        color: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            background-color: $primaryColor;
            color: #fff;
        }
    }

    .btn-primary {
        color: #fff;
        background-color: $primaryColor;
        border-color: $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-error {
        color: #fff;
        background-color: $errorColor;
        border-color: $errorColor;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-exchange {
        color: #fff;
        background-color: $secondaryColor;
        border-color: $secondaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        .navbar-toggler:focus {
            box-shadow: none;
        }
        .toggle-icon {
            transition: transform 0.3s ease-in-out;
            font-size: 1.5rem;
        }

        .rotate-icon {
            transform: rotate(180deg);
        }

        .navbar-nav {
            .nav-link {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: $navLinkPadding;
                transition: color 0.3s ease-in-out;
                text-align: center;

                &:hover,
                &:focus,
                &.active {
                    color: $primaryColor !important;
                }
            }

            .nav-item {
                .dropdown-menu {
                    .dropdown-item {
                        &:hover {
                            background: $primaryColor;
                            color: white;
                        }
                    }
                }
            }
        }

        .auth-buttons {
            display: flex;
            gap: 10px;

            .btn {
                font-weight: bold;
                border-radius: $buttonRadius;
                padding: 5px 10px;
                transition: opacity 0.3s ease-in-out;
                text-align: center;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    @media (max-width: 991px) {
        .navbar-nav {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            text-align: center;
            margin-top: 15px;

            .nav-link {
                padding: 10px 0;
                border: 1px solid #ddd;
                border-radius: 5px;
                background: #f8f9fa;
                transition: background 0.3s;

                &:hover {
                    background: #e9ecef;
                }
            }

            .nav-item {
                .dropdown-menu {
                    position: absolute;
                    width: 100%;
                    z-index: 100;

                    .dropdown-item {
                        padding: 5 10px;
                        transition: background 0.3s;

                        &:hover {
                            background: $primaryColor;
                            color: white;
                        }
                    }
                }
            }
        }

        .auth-buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-top: 10px;
            .btn {
                width: 100%; // Đảm bảo full cột
            }
        }
    }

    .section-banner {
        background-color: $primaryColor;
        /* Mặc định trên desktop */
        .section-banner_title,
        .section-banner_desc {
            color: #fff;
            text-align: left;
        }

        @media (max-width: 991px) {
            .container {
                margin-bottom: 2em;
            }
            .section-banner_title,
            .section-banner_desc {
                text-align: center;
            }

            .section-banner_button {
                text-align: center;
            }
        }
    }

    .custom-ant-table {
        .ant-pro-card-body {
            padding-inline: 0px !important;
        }

        .ant-pro-query-filter.ant-pro-query-filter {
            padding-bottom: 15px;
            @media (max-width: 768px) {
                padding: 0px;
            }
            .ant-pro-query-filter-row {
                row-gap: 5px;
            }
            .ant-col.ant-col-24:last-child {
                .ant-form-item-label {
                    display: none;
                }
            }
        }

        .ant-table {
            scrollbar-color: auto;
            .ant-table-thead > tr > th {
                background-color: #f2f2f2;
                border-color: #dee2e6 !important;
            }
            .ant-table-tbody > tr > td {
                border-color: #dee2e6 !important;
            }
            .ant-table-tbody > tr:hover {
                background-color: #f1f1f1;
                transition: background 0.3s ease-in-out;
            }
        }
        .ant-pro-card {
            .ant-pro-table-list-toolbar-container {
                padding-block: 5px;
            }
        }
    }

    .custom-ant-form {
        .ant-form {
            padding: 0px;
        }
        .ant-row {
            .ant-form-item-label {
                font-weight: 600;
            }
        }
        .ant-form-item {
            margin-bottom: 5px;
        }
        .ant-input-group-addon {
            .forgot {
                color: $primaryColor;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .ant-modal.custom-ant-modal {
        .ant-modal-content {
            .ant-modal-header {
                text-align: center;
                .ant-modal-title {
                    font-size: 1.4em;
                    color: $primaryColor;
                }
            }
        }
    }
    .ant-btn-primary {
        background-color: $primaryColor;
    }

    .ant-radio-button-wrapper-checked {
        background: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            background: $primaryHoverColor;
        }
    }
    .ant-radio-button-wrapper {
        &:first-child,
        &:last-child {
            border-radius: 0px;
        }
    }
}
